@{
    ViewData["Title"] = "Shortening links";
}
<!DOCTYPE html>

<html>
<head>
    <style>
        p {
            border: 2px solid black;
            outline: #4CAF50 solid 10px;
            margin: auto;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>

    <p>Сокращенная ссылка: @ViewData["URL"]</p>

</body>
</html>
